@media screen and (max-width: 720px){
    footer {
        max-width: 100%;
    }
    .navigation li:active{
        background-color: gray;
    }
    .navigation li:first-child{
        display: block;
        background-color: lightblue;
    }
    .responsive li{
        display: block;
    }
    .ham{
        font-size: 30px;
    }
    .ham-2{
        border-bottom: 1px solid grey;
    }
    .ham:hover{
        background-color: lightblue;
        color: white;
    }
    header span{
        position: absolute;
        width: 300px;
        top: 150px;
        right: 30px;
    }
    main{
        display: block;
    }
    main img{
        text-align: center;
        height: 500px;
    }
    nav ul{
        display: block;
        text-align: left;
        font-size: inherit;
        padding: 0;
    }
    nav li{
        display: none;
        width: auto;
    }
}