body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

/* HEADER, NAV and LOGO CSS */
header{
    text-align: center;
    background-color: rgb(231, 249, 255);
    padding: 2px;
    max-width: 100%;
    margin-top: -80px;
}
header img{
    height: 100px;
    position: relative;
    top: 90px;
    right: 200px;
}
nav ul{
    display: flex;
    list-style: none;
    padding: 10px;
    background-color: lightblue;
    margin: 0;
    color: white;
}
nav li{
    margin: auto;
    padding: 10px;
}
.navigation li:first-child{
    display: none;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(85, 85, 85);
}
main{
    margin-bottom: 60px;
}
main h1{
    margin: 20px;
    text-align: center;
    font-weight: 500;
}
main{
    text-align: center;
    margin: auto;
}

/* HERO SECTION CSS */
main #hero{
    width: 100%;
    height: 500px;
}
header span{
    color: green;
}
#content-1{
    position: relative;
}
#weather-summary{
    position: absolute;
    height: 250px;
    width: 300px;
    background-color: rgba(255,255,255, .5);
    left: 70px;
    top: 30px;
    box-shadow: 1px 1px 10px;
}
#weather-summary span{
    font-weight: 800;
}

/* Weather Forecast CSS */
#forecast-container{
    margin-top: 50px;
}
.weather-forecast{
    width: 65%;
    margin: auto;
    margin-top: 20px;
    background-color: lightblue;
}
.weather-forecast ul{
    list-style: none;
    display: flex;
    padding: 15px;
    margin: 0;
}
.weather-forecast h3{
    border-bottom: 1px solid grey;
    margin: 0;
    padding: 5px;
}
.weather-forecast li{
    flex: 1;
    padding: 15px;
}
.weather-forecast li:first-child{
    border-left: none;
}
.weather-forecast li:last-child{
    border-right: none;
}
.weather-forecast img{
    height: 100px;
}
.list-item{
    font-weight: 800;
}

/* Article CSS */
#article-section{
    max-width: 65%;
    margin: auto;
    margin-top: 50px;
    text-align: left;
    background-color: rgb(233, 233, 233);
    padding: 45px;
}
#article-section img{
    height: 200px;
    float: right;
    padding: 15px;
}

/* contact CSS */
#contact-section{
    background-color: lightblue;
    margin: auto;
    padding: 10px 45px 45px 45px;
    width: 65%;
    margin-top: 50px;
}
#contact-section img{
    height: 250px;
}
#grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
}
#grid-container a{
    padding: 15px;
}
/* FOOTER CSS */
footer {
    text-align: center;
    background-color: black;
    color: white;
    margin: auto;
    margin-top: 50px;
    padding: 15px;
    height: 90px;
    max-width: 75%;
}
