@media only screen and (min-width: 35em) and (max-width: 63em){
    html{
        background-color: rgb(200, 226, 148);
    }
    body{
        margin: 0;
        font-family: 'Comfortaa';
        font-size: 1.0em;
    }
    header{
        background: darkseagreen;
        padding: 10px;
    }
    
    header::after{
        content: '';
        display: table;
        clear: both;
    }
    header img{
        height: 100px;
        padding: 30px;
    }
    #title{
        text-align: center;
        margin-top: -30px;
        font-size: 50px;
    }
    #info{
        background-color: rgb(241,241,241);
        border-radius: 15px;
        padding: 15px;
        margin: 20px 60px 0 60px;
    }
    header img, h3{
        display: inline-block;
    }
    nav{
        text-align: center;
        padding-top: 30px;
    }
    nav ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    nav li{
        display: inline-block;
        margin-left: 40px;
        padding-bottom: 15px;
        text-decoration: none;
    }
    a{
        text-decoration: none;
    }
    a:link{
        color:rgb(107, 142, 35);
    }
    a:visited{
        color: rgb(107, 142, 35);
    }
    a:hover{
        color: palegreen;
    }
    div img{
        border-radius: 15px;
    }
    #purpose{
        background-color: rgb(241,241,241);
        border-radius: 15px;
        padding: 10px;
        margin: 15px;
    }
    th, td{
        border: rgb(0, 0, 0) 1px solid;
        padding: 10px;
    }
    table{
        margin: 15px;
    }
    footer{
        border-top: dotted black 5px;
        margin: auto;
        text-align: center;
        padding: 10px;
    }
    .main-info{
        text-align: center;
    }
    main h3{
        padding: 15px;
        border: solid black 1px;
        width: 50%;
        text-align: center;
        margin: auto;
        margin-top: 15px;
        background-color: rgb(241,241,241);
    }
    #hamburger-button{
        display: none;
    }
    main img{
        height: 500px;
        border: solid black 1px;
    }
    #summary-box{
        position: absolute;
        right: 450px;
        top: 450px;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 25px;
    }
    /*********************** Forecast display section ********************************************/

    section #forecast-box{
        width: 500px;
        text-align: center;
    }
    #forecast-box{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        padding: 20px;
        margin: auto;
    }
    #forecast-box h3{
        padding: 15px;
    }
    .weather-images img{
        height: 50px;
    }

    /*********************** Article display section ********************************************/

    #article{
        background-color: rgb(241,241,241);
        padding: 25px;
        margin: 20px;
        margin-top: auto;
        border-radius: 25px;
    }
    #store-image{
        height: 200px;
        float: left;
        padding: 15px;
        border-radius: 25px;
    }
    /*********************** Maps display section ********************************************/

    #map{
        display: flex;
        padding: 15px;
        margin: auto;
    }
    #map-pic{
        margin-top: 0;
        margin: auto;
        display: flex;
    }
    #google-maps{
        height: 400px;
        padding: 15px;
    }
    #gallery{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }
    #gallery > figure> img{
        height: 300px;
        width: 100%;
        margin-right: 20px;
    }
    .hover:hover{
        box-shadow: 0 0 30px #333;
    }
}


