@media screen and (max-width: 720px){
    nav ul{
        display: block;
        text-align: left;
        font-size: inherit;
    }
    nav li{
        display: none;
    }
    footer {
        max-width: 100%;
    }
    .navigation li:active{
        background-color: gray;
    }
    .navigation li:first-child{
        display: block;
        background-color: lightblue;
    }
    .responsive li{
        display: block;
    }
    .ham{
        font-size: 30px;
    }
    .ham-2{
        border-bottom: 1px solid grey;
    }
    .ham:hover {
        background-color: lightblue;
        color: white;
    }
    header span{
        position: absolute;
        width: 300px;
        top: 150px;
        right: 30px;
    }
    .cards section{
        display: block;
        grid-template-columns: 1fr;
    }
    main img{
        margin-top: 20px;
    }
    #grid-wrapper{
        display: block;
    }
    div#forecast-container{
        text-align: center;
        margin-left: -60px;
    }
    #hero-image{
        text-align: center;
        margin-top: 40px;
        background-color: rgb(233, 233, 233);
        max-width: 90%;
        margin: auto;
    }
    #hero-image img{
        height: 400px;
        max-width: 90%;
    }
    nav ul{
        display: block;
        text-align: left;
        font-size: inherit;
    }
    nav li{
        display: none;
        width: auto;
    }
}