@media only screen and (max-width: 600px){
    nav ul{
        display: block;
    }
    nav li{
        padding: 20px;
        display: none;
    }
    footer {
        max-width: 100%;
    }
    .navigation li:active{
        background-color: gray;
    }
    .navigation li:first-child{
        display: block;
        background-color: lightblue;
        text-align: left;
    }
    .responsive li{
        display: block;
        text-align: left;
    }
    .ham{
        font-size: 30px;
    }
    .ham-2{
        border-bottom: 1px solid grey;
    }
}