@media only screen and (max-width: 720px){
    footer {
        max-width: 100%;
    }
    .navigation li:active{
        background-color: gray;
    }
    .navigation li:first-child{
        display: block;
        background-color: lightblue;
        text-align: left;
    }
    .responsive li{
        display: block;
        text-align: left;
    }
    .ham{
        font-size: 30px;
    }
    .ham-2{
        border-bottom: 1px solid grey;
    }
    .ham:hover {
        background-color: lightblue;
        color: white;
    }
    nav ul{
        display: block;
        text-align: left;
        font-size: inherit;
    }
    nav li{
        display: none;
        width: auto;
    }
}