@media only screen and (min-width: 800px){
    html{
        background-color: rgb(200, 226, 148);
    }
    body{
        margin: 0;
        font-family: 'Comfortaa';
        font-size: 1.0em;
    }
    header{
        background: darkseagreen;
        padding: 15px;
    }
    header h3{
        text-align: center;
        margin-top: -20px;
    }
    
    header::after{
        content: '';
        display: table;
        clear: both;
    }
    #title{
        text-align: center;
        margin-top: -80px;
        font-size: 50px;
    }
    header img{
        height: 150px;
    }
    header img{
        display: inline-block;
    }
    nav{
        text-align: center;
        padding-top: 50px;
    }
    nav ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    nav li{
        display: inline-block;
        margin-left: 40px;
        padding-bottom: 15px;
        text-decoration: none;
        font-size: 20px;
    }
    a{
        text-decoration: none;
    }
    a:link{
        color:rgb(107, 142, 35);
    }
    a:visited{
        color: rgb(107, 142, 35);
    }
    a:hover{
        color: rgb(152, 251, 152);
    }
    #hamburger-button{
        display: none;
    }
    
    .container {
        max-width: 450px;
        width: 100%;
        margin: auto;
    }
    #forecast{
        border-bottom: dotted black;
    }
    
    #forecast-box{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        text-align: center;
        width: 500px;
        margin: auto;
    }
    .weather-images > img{
        height: 50px;
    }
    .weather-images{
        text-align: center;
    }
    weather-events{
        text-align: center;
        margin: auto;
    }
    #hero-content{
        position: absolute;
        left: 20px;
    }
    #hero-image > img{
        height: 600px;
        max-width: 100%;
        margin-left: 350px;
    }
    #article{
        margin: auto;
        margin-top: 20px;
        width: 800px;
        background-color: rgb(241,241,241);
        padding: 15px;
        border-radius: 25px;
    }
    footer{
        text-align: center;
    }
    
}