@media (max-width: 1000px) {
    #weather-conditions {
        height: 200px;
        width: 60%;
        top: 220px;
        padding: 15px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 220px);
    }
    #article-and-image {
        display: block;
    }
    article img {
        width: 70%;
        margin: auto;
    }
    .town-content {
        display: block;
        margin: 0;
    }
    .town-content article {
        width: 85%;
        margin: auto;
        margin-top: 40px;
    }
    #events {
        width: 85%;

    }
    #contact-section img{
        height: 200px;
    }
    #grid-wrapper{
        display: block;
        text-align: center;
    }
    nav ul{
        text-align: center;
        flex-wrap: nowrap;
        font-size: 13px;
    }

}