@media (min-width: 1200px) {
    .two-column-layout:nth-of-type(2) {
        padding: 15px;
    }

    .weather-forecast-container #subtitle {
        text-align: left;
    }
    #tours-map {
        position: absolute;
        right: 0;
        top: 250px;
        margin: 20px;
        width: 50%;
    }
}