@media (min-width: 1200px) {
    .two-column-layout:nth-of-type(2) {
        padding: 15px;
    }

    .weather-forecast-container #subtitle {
        text-align: left;
    }
    .tours-html main {
        margin: 20px;
    }
    .tours-suggestions-containers {
        display: flex;
    }
    .tours-suggestions {
        margin-bottom: 160px;
    }
    .tours-suggestions p {
        width: 110%;
    }
    .tours-suggestions-containers div {
        flex: 1;
    }
    .tours-images {
        margin-left: 150px;
        margin-right: 0;
    }
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    #reservations-form {
        width: 50%;
    }

}