body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
}

/* HEADER, NAV and LOGO CSS */
nav ul{
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 0;
    background-color: lightblue;
}
nav li{
    font-size: 20px;
    margin: auto;
    padding: 15px;
}
.headers{
    padding: 10px;
}
#header-1{
    text-align: center;
    background-color: rgb(231, 249, 255);
    margin: 0;
    padding: 25px;
}
#header-nav img{
    position: absolute;
    height: 100px;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: rgb(85, 85, 85);
}

/* BODY CSS */
.paras{
    margin: 15px;
    width: 50%;
}
#logo-container{
    float: right;
    position: absolute;
    right: 130px;
}
#logo-container img{
    height: 300px;
    box-shadow: grey 6px 6px 8px;
}
#border{
    border: dashed grey 1px;
    max-width: 50%;
    margin-left: 15px;
}
/* target-audience.html CSS */
#personas img{
    margin: 15px;
}
#personas{
    text-align: center;
}
/* color-scheme.html CSS */
#color-scheme{
    height: 450px;
    margin: 40px;
}

/* FOOTER CSS */
footer{
    max-width: 100%;
    text-align: center;
    background-color: rgb(172, 172, 172);
    color: white;
    padding: 15px;
    margin-top: 240px;
    height: 115px;
}