@media screen and (max-width: 1200px){   
    nav li{
        font-size: 20px;
        margin-top: 25px;
    }
    #logo-container img{
        height: 200px;
    }
    #color-scheme{
        height: 350px;
        margin: 40px;
    }
    #typ-image{
        height: 50px;
    }
}